.custom-logo {
	height:auto;
  width: 200px;
}
.end{
  justify-content: flex-end !important;
}
.headerImage{
    width: 100vw;
    height: 90vh;
    overflow-y: hidden;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerImage h1{
  color: white;
}
.aboutBg{
  background-color: rgba(248, 222, 126, 0.5);
}
